.button {
  width: 218px;
  height: 52px;
  padding: 16px 54px;
  border-radius: 62px;
  border: 1px solid transparent;
  opacity: 1;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: var(--fontfamily);
  font-weight: 500;
  font-size: 16px;
  line-height: 22.6px;
  text-align: left;
}

.button-white {
  background-color:var(--white);
  color: var(--black);
  border: 1px solid #0000001a;
}

.button-black {
  background-color: var(--black);
  color: var(--white);
}
