/* body {
    margin: 0; 
    padding: 0; 
    background-color:var(--white);
    line-height: 1.6; 
    text-align: center; 
    box-sizing: border-box; 
  } */
  
  .container {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
  }
  
.new-arrivals {
    position: relative;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
  .new-arrivals h2{
    width: 403px;
    height: 58px;
    font-family:var(--secondary-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    margin: 0 auto;
    opacity: 1; 
    margin-top:50px;
    margin-bottom: 30px;
  }

  
  
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
    padding: 20px;
    padding-left: 100px;
    padding-right:100px ;
  }
  
  .product-card {
    width: 295px;
    height: 298px;
    border-radius:20px;
    background-color:var(--white); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: relative;
    opacity: 1; 
  }
  
  .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .discount-badge {
    position: absolute;
    top: 380px;
    left: 80px;
    background:none;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  .discount-badge img {
    width: 300px;
    height: 30px;
    margin-right: 5px;
  }
  
  .product-name {
    width: 225px;
    height: 27px;
    font-family:var(--font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    margin: 10px 0;
    opacity: 1; 
  }
  
  .product-rating {
    display: flex;
    align-items: center;
    gap: 13px;
    opacity: 1; 
  }
  
  .product-rating svg {
    width: 24px;
    height: 24px;
  }
  
  .rating-text {
    font-family: var(--font-family);
    font-size: 16px;
  }
  
  .product-price {
    width: 55px;
    height: 32px;
    font-family:var(--font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    margin: 10px 0;
    opacity: 1; 
  }
  .product-old-price {
    color: #888;
    font-family:var(--font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    text-decoration: line-through;
    margin-right: 40px;
    margin-top: -42px;
    
  }
.button-white{
    position: absolute;
    top: 600px;
    left:650px;    
}

.separator {
  width: 1240px;
  height: 0;
  opacity: 0.1;
  border-top: 1px solid #000; 
  margin: 200px auto;
} 
.top-selling h2{
  width: 403px;
  height: 58px;
  font-family:var(--secondary-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  margin: 0 auto;
  opacity: 1;
  margin-bottom: 30px;
}
.top-selling .button-white{
  position: absolute;
  top: 550px;
  left:650px;  
}
.top-selling {
  width: 100%;
  padding: 20px;
  text-align: center;
  position: absolute;
  margin-top: -150px;
}